@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #B4F2E5;
  color: white;
}

.navbar{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ABD8DF;
  position: sticky;
  top: 0;
  height: 120px;
  border-bottom: 1px solid rgb(216, 206, 206);
}

.link
{
  color: #444444;
}

.link:hover
{
  color: #fff;
}

.navbar>img
{
  height: 100%;
  width: auto;
}

.navbar svg
{
  transition: transform 0.2s;
}

.navbar svg:hover
{
  transform: rotate(360deg);
}

nav{
  display: flex;
  flex-wrap:wrap;
  gap:30px;
  margin-right: 30px;
}

nav>a{
  font-size: 17px;
  cursor:pointer;
}

.search-bar{
  align-self: center;
}

.search-bar>input{
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}

nav svg{
  height: 45px;;
  align-self: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-color: #b4c9c6;
  padding-bottom: 40px;
}

header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
}

.btn a:hover
{
  display: block;
    background-color: #3a4e4b;
    border-radius: 8px;
    font-size: large;
    color: #ffffff;
}

.btn a
{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    font-size: large;
    color: #444444;
}

a :hover
{
  color: #ffffff;
}

a
{
  text-decoration: none;
  color: #444444;
}

header svg
{
  width: 20px;
}

.main{
  margin: 20px;
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.cards{
  display:flex;
  flex-wrap:wrap;
  margin: 20px;
  margin-right: 40px;
}
.cards .card{
  margin-right: 20px;
  cursor:pointer;
}
.cards .card img{
  width: 350px;
}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.cards .card .card-body p{
  margin-top: -10px;
}

.main .video{
  margin-top: 80px;
  width: 90%;
}
.main .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

footer {
  margin-top: 100px;
  background-color: #000;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  right: 20px;
  cursor:pointer;
}

.social-media svg
{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}


#linkedin, #twitter, #facebook, #instagram
{
    margin-top: 0px;
    transition: transform 0.2s;
}

#linkedin:hover, #twitter:hover, #facebook:hover, #instagram:hover
{
    transform: scale(1.2);
}


@media screen and (max-width: 640px){
  .cards .card img{
    width: 300px;
  }
}