@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #e9edf1;
}
nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;

}
ul {
    width: 400px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-content: center;
  }
 
a{
    text-decoration: none;
}

header{
    background-color: #b4c9c6;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: solid;
}

img{
    height: 80px;
    position: absolute;
}

h2{
    display: flex;
    justify-content: center;
    position: absolute;
    width: -webkit-fill-available;
}

.article{
    display: flex;
    height: auto;
    width: 60%;
    margin-left: 40px;
}

fieldset{
    height: 300px;
    width: -webkit-fill-available;
    border-radius: 15px;
    background-color: antiquewhite;
    border: solid;
}

section{
    display: flex;
}

section>div{
    margin-top: 80px;
}

.Total{
    width: 40%;
    margin-right: 40px;
    display: flex;
    align-content: center;

}

  footer .social-media{
    display: flex;
  }
  footer .social-media p{
    right: 20px;
    cursor:pointer;
  }
  
  .social-media svg
  {
      width: 60px;
      height: 60px;
      margin-left: 20px;
  }
  
  
  #linkedin, #twitter, #facebook, #instagram
  {
      margin-top: 0px;
      transition: transform 0.2s;
  }
  
  #linkedin:hover, #twitter:hover, #facebook:hover, #instagram:hover
  {
      transform: scale(1.2);
  }
  
  
  @media screen and (max-width: 640px){
    nav .onglets .link, nav h1{
      display:none;
    }
    .cards .card img{
      width: 300px;
    }
  }

